# Ignorar la carpeta "Corregir"
/Corregir/

# Ignorar la carpeta "TrabajosZip"
/TrabajosZip/

# Ignorar archivos ZIP
*.zip
/Projecte Final 23 24 - ENUNCIAT/build/
/Projecte Final 23 24 - ENUNCIAT/dist/
/Projecte Final 23 24 - ENUNCIAT/nbproject/private/
